<figure class="home__main__productos__figure" class="home__main__productos__figure">
    <div class="home__main__productos-imagen">
      <img src="/images/<%= categoria %>/<%= imagen %>" alt="">
    </div>
    <div class="home__main__productos-detalle">
      <h4><%= nombre %></h4>
      <p>$<%= precio %></p>
      <!-- <p class="precio-viejo">$1.350,00</p> -->
      <div class="ver-todos-los-productos">
        <button type="submit"><a class="home__main__productos__div--verMas" href="/products/detail/<%= id %>">Ver más</a></button>
      </div>
    </div>
  </figure>