<figure class="home__main__productos__figure">
    <div class="home__main__productos-imagen">
      <img src="/images/<%= category.name %>/<%= image ? image : 'default-image.png' %>" alt="">
    </div>
    <div class="home__main__productos-detalle">
      <h4><%= name %></h4>
      <p>$<%= price %></p>
      <div class="ver-todos-los-productos">
        <button type="submit"><a class="home__main__productos__div--verMas" href="/products/detail/<%= id %>">Ver más</a></button>
      </div>
    </div>
  </figure>