<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<%- include('./partials/menuHam') %>

    <body>
        <%- include('./partials/header') %>
            <main class="form__main">
                <section class="product-form__section">
                    <article class="product-form">
                        <form class="main__form--editproduct" action="add" method="post" enctype="multipart/form-data">
                            <h3 class="title-add-product">Agregar producto</h3>
                            <div class="main__form__div">
                                <label for="name">Nombre </label>
                                <input class="main__form__div__input" type="text" name="name" id="name" >
                            </div>
                            <div class="main__form__div__prices">
                                <label for="price">Precio</label>
                                <span>$</span><input type="number" name="price" id="price" min="1000" >
                                <label for="discount">Descuento</label>
                                <input type="number" name="discount" id="discount" min="5" max="50"><span>%
                                    (Opcional)</span>
                            </div>
                            <div class="main__form__div">
                                <label for="description">Descripción del producto</label>
                                <textarea class="main__form__div__textarea" type="textarea" name="description"
                                    id="description" minlength="20" maxlength="250" ></textarea>
                            </div>
                            <div class="main__form__div">
                                <div class="main__form__div">
                                    <label for="brand">Marca</label>
                                    <select class="main__form__div__selected" name="brand" id="brand">
                                        <option value="" hidden>Seleccione una marca</option>
                                        <% brands.forEach(({id,name}) => { %>
                                            <option value=<%= id %>><%= name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="main__form__div">
                                    <label for="category">Categoría</label>
                                    <select class="main__form__div__selected" name="category" id="category">
                                        <option value="" hidden>Seleccione una categoría</option>
                                        <% categories.forEach(({id,name}) => { %>
                                            <option value=<%= id %>><%= name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="main__form__div">
                                    <label for="material">Material</label>
                                    <select class="main__form__div__selected" name="material" id="material">
                                        <option value="" hidden>Seleccione un material</option>
                                        <% materials.forEach(({id,name}) => { %>
                                            <option value=<%= id %>><%= name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="main__form__div">
                                    <label for="image">Imágen principal del producto</label>
                                    <input class="main__form__div__textarea" type="file" name="image" id="image" accept=".jpg, .png, .webp">
                                </div>

                                <div class="main__form__div">
                                    <label for="images">Imágenes secundarias del producto</label>
                                    <input class="main__form__div__textarea" type="file" name="images" id="images" accept=".jpg, .png, .webp" multiple>
                                </div>
                            </div>
                            
                                <button class="button--form-product" type="submit">Agregar producto</button>
                                <button class="button--form-product" type="reset">Cancelar</button>
                            
                        </form>
                        </div>
                    </article>
                </section>
            </main>
            <%- include('./partials/footer') %>
            <%- include('./partials/scripts') %>
    </body>

</html>