<!DOCTYPE html>
<html lang="en" class="dashboard">

    <%- include('./partials/head') %>

<body class="body--dashboard">
  <div class="body__div--container">
    
    <%- include('./partials/navDashboard') %>

    <section class="body__section--main">

      <section class="body__section--attendance">
        <div class="body__section--attendance-list">
          <h2>
            Administradores
          </h2>
          <table class="div__table admins">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Creación</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              
              <% users.forEach(({id,name,email,updatedAt}) => { %>
                <tr class="div__table__tr">
                  <td><%= id %></td>
                  <td><%= name %></td>
                  <td><%= email %></td>
                  <td><%= updatedAt.toISOString().split('T')[0] %></td>
                  <td><a href="/dashboardUsers/<%= id %>"><button>Ver</button></a></td>
                </tr>
              <% }) %>
              
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </div>

  <script src="/javascripts/menuHamDashboard.js"></script>

</body>
</html>
