<!DOCTYPE html>
<html lang="en" class="dashboard">

    <%- include('./partials/head') %>

<body class="body--dashboard">
  <div class="body__div--container">
    
    <%- include('./partials/navDashboard') %>

    <section class="body__section--main">
      
        <div class="section__div--main-top">
            <h1>Administradores</h1>
            <i class="fas fa-user-cog"></i>
          </div>
          <div class="section__div--users">
            <!-- Hacer foreach con la cantidad de administradores -->
            <div class="section__div--card">
              <img src="./images/imageUserDefault.png">
              <h4>Mauricio Amado</h4>
              <a href="#"><button>Detalle</button></a>
            </div>
          </div>

      <section class="body__section--attendance">
        <div class="body__section--attendance-list">
          <h2>Usuarios</h2>
          <table class="div__table no-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Creación</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              
              <% users.forEach(({id,name,email,updatedAt}) => { %>
                <tr class="div__table__tr">
                  <td><%= id %></td>
                  <td><%= name %></td>
                  <td><%= email %></td>
                  <td><%= updatedAt.toISOString().split('T')[0] %></td>
                  <td><a href="/dashboardUsers/<%= id %>"><button>Ver</button></a></td>
                </tr>
              <% }) %>
              
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </div>

  <script src="/javascripts/menuHamDashboard.js"></script>

</body>
</html>
