<!DOCTYPE html>
<html lang="en" class="dashboard">

    <%- include('./partials/head') %>

<body class="body--dashboard">
  <div class="body__div--container">

    <%- include('./partials/navDashboard') %>

    <section class="body__section--main">
      <section class="body__section--attendance">
        <div class="body__section--attendance-list">
          <h2>Ordenes</h2>
          <table class="div__table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Emisión</th>
                <th>Productos</th>
                <th>Total</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              
              <% if (orders) { %>

                <% orders.forEach(({id , status, updatedAt, total,cart,user}) => { %>
                  <tr class="div__table__tr">
                    <td><%= id %></td>
                    <td><%= user.name +" "+ user.surname %></td>
                    <td><%= status %></td>
                    <td><%= updatedAt.toISOString().split('T')[0] %></td>
                    <td><%= cart.length %></td>
                    <td>$<%= total %></td>
                    <td><button>Ver</button></td>
                  </tr>
                <% }) %>
                
              <% } %>
              
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </div>

  <script src="/javascripts/menuHamDashboard.js"></script>

  </body>
</html>
