<!DOCTYPE html>
<html lang="en" class="dashboard">

    <%- include('./partials/head') %>

<body class="body--dashboard">
  <div class="body__div--container">
    
    <%- include('./partials/navDashboard') %>

    <div class="section__div--Add">
      <div class="section__div--cardAdd">
        <i class="fas fal fa-boxes-alt"></i>
        <h4>Productos</h4>
          <button id="addProduct">Agregar</button>
        <button id="viewProducts">Ver</button>
      </div>
      <div class="section__div--cardAdd">
        <i class="fa-solid fa-user-plus"></i>
        <h4>Usuarios</h4>
        <button id="addUser">Agregar</button>
        <button id="viewUsers">Ver</button>
      </div>
      <div class="section__div--cardAdd">
        <i class="fa-solid fa-copyright"></i>
        <h4>Marcas</h4>
        <button id="addBrand">Agregar</button>
        <button id="viewBrands">Ver</button>
      </div>
      <div class="section__div--cardAdd">
        <i class="fas fa-regular fa-cube"></i>
        <h4>Materiales</h4>
        <button id="addMaterial">Agregar</button>
        <button id="viewMaterials">Ver</button>
      </div>
      <div class="section__div--cardAdd">
        <i class="fas fa-solid fa-tags"></i>
        <h4>Categorías</h4>
        <button id="addCategory">Agregar</button>
        <button id="viewCategories">Ver</button>
      </div>

      <section class="body__section--main" >

      <section id="tableProduct" class="none">
        <div class="body__section--attendance-list">
          <div class="top-text">
            <h2>Productos</h2>
            <h2>Total: <%= count %></h2>
          </div>
          

          <table class="div__table products">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Material</th>
                <th>Precio</th>
                <th>Detalle</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              
              <% products.forEach(({id,name,brand,category,material,price}) => { %>
                <tr class="div__table__tr">
                  <td><%= id %></td>
                  <td><%= name %></td>
                  <td><%= brand.name %></td>
                  <td><%= category.name %></td>
                  <td><%= material.name %></td>
                  <td>$<%= price %></td>
                  <td><a href="/products/detail/<%= id %>"><button>Ver</button></a></td>
                  <td><a href="/dashboard/product/<%= id %>"><button>Editar</button></a></td>
                </tr>
              <% }) %>
              
            </tbody>
          </table>
        </div>
      </section>

      <section id="tableUser" class="none">
        <div class="body__section--attendance-list">
          <div class="top-text">
          <h2>Usuarios</h2>
          <h2>Total: <%= countUser %></h2>
          </div>
          <table class="div__table users">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Creación</th>
                <th>Ordenes</th>
                <th>Total</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              
              <% users.forEach(({id,name,email,updatedAt,rol}) => { %>
                <% if (rol.name==="user") { %>
                  <tr class="div__table__tr">
                    <td><%= id %></td>
                    <td><%= name %></td>
                    <td><%= email %></td>
                    <td><%= updatedAt.toISOString().split('T')[0] %></td>
                    <td>10</td>
                    <td>$10000</td>
                    <td><a href="/dashboardUsers/<%= id %>"><button>Ver</button></a></td>
                  </tr>
                <% } %>
              <% }) %>
              
            </tbody>
          </table>
        </div>
      </section>

      <section id="tableBrand" class="none">
        <div class="body__section--attendance-list">
          <div class="top-text">
          <h2>Marcas</h2>
          <h2>Total: <%= countBrand %></h2>
          </div>
          <table class="div__table other">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Creacion</th>
                <th>Productos</th>
                <th>Detalle</th>
              </tr>
            </thead>

            <tbody>
              
              <% brands.forEach(({id,name,updatedAt},index) => { %>
                <tr class="div__table__tr">
                  <td><%= id %></td>
                  <td><%= name %></td>
                  <td><%= updatedAt.toISOString().split('T')[0] %></td>
                  <td><%= brandCount[index] ? brandCount[index].dataValues.Total : 0 %></td>
                  <td><a href="#"><button>Eliminar</button></a></td>
                </tr>
              <% }) %>
              
            </tbody>
          </table>
        </div>
      </section>

      <section id="tableMaterial" class="none">
        <div class="body__section--attendance-list">
          <div class="top-text">
          <h2>Materiales</h2>
          <h2>Total: <%= countMaterial %></h2>
          </div>
          <table class="div__table other">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Creacion</th>
                <th>Productos</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              
              <% materials.forEach(({id,name,updatedAt},index) => { %>
                <tr class="div__table__tr">
                  <td><%= id %></td>
                  <td><%= name %></td>
                  <td><%= updatedAt.toISOString().split('T')[0] %></td>
                  <td><%= materialCount[index] ? materialCount[index].dataValues.Total : 0 %></td>
                  <td><a href="#"><button>Eliminar</button></a></td>
                </tr>
              <% }) %>
              
            </tbody>
          </table>
        </div>
      </section>

      <section id="tableCategory" class="none">
        <div class="body__section--attendance-list">
          <div class="top-text">
          <h2>Categorías</h2>
          <h2>Total: <%= countCategory %></h2>
          </div>
          <table class="div__table other">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Creacion</th>
                <th>Productos</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              
              <% categories.forEach(({id,name,updatedAt},index) => { %>
                <tr class="div__table__tr">
                  <td><%= id %></td>
                  <td><%= name %></td>
                  <td><%= updatedAt.toISOString().split('T')[0] %></td>
                  <td><%= categoryCount[index] ? categoryCount[index].dataValues.Total : 0 %></td>
                  <td><a href="#"><button>Eliminar</button></a></td>
                </tr>
              <% }) %>
              
            </tbody>
          </table>
        </div>
      </section>

      </section>

      <form id="formDashboardProduct" class="none" action="dashboard/product" method="POST" enctype="multipart/form-data">
        <h2>Producto</h2>
          <label for="name">Nombre</label>
          <input type="text" name="name" id="name" value="<%= locals.old && old.name ? old.name : null %>">
          <small id="nameError" class="text-danger ms-3"><%= locals.errors && errors.name ? errors.name.msg : null %></small>

          <label for="price">Precio $</label>
          <input type="number" name="price" id="price" value="<%= locals.old && old.price ? +old.price : null %>">
          <small id="priceError" class="text-danger ms-2"><%= locals.errors && errors.price ? errors.price.msg : null %></small>
          
          <label for="discount">Descuento(opcional)</label>
          <input type="number" name="discount" id="discount" value="<%= locals.old && old.discount ? +old.discount : 0 %>">
          <small id="discountError" class="text-danger ms-2"><%= locals.errors && errors.discount ? errors.discount.msg : null %></small>
          
          <label for="stock">Stock</label>
          <input type="number" name="stock" id="stock" value="<%= locals.old && old.stock ? +old.stock : 1 %>">
          <small id="stockError" class="text-danger ms-2"><%= locals.errors && errors.stock ? errors.stock.msg : null %></small>

          <label for="description">Descripción</label><small id="descrptionInfo"
          hidden> (<span id="numberCharacters"></span> / 1000)</small>
          <textarea name="description" id="description"><%= locals.old && old.description ? old.description : null %></textarea>
          <small id="descriptionError" class="text-danger ms-2"><%= locals.errors && errors.description ? errors.description.msg : null %></small>

          <label for="brand">Marcas</label>
          <select name="brand" id="brand" value="">
          <option value="" hidden>Seleccione una marca</option>
          <% brands.forEach(({id,name})=> { %>
            <option value=<%=id %> <%= locals.old && old.brand && +old.brand===id ? 'selected' : null %>>
              <%= name %>
            </option>
          <% }) %>
          </select>
          <small id="brandError" class="text-danger ms-2"><%= locals.errors && errors.brand ? errors.brand.msg : null %></small>

          <label for="category">Categorías</label>
          <select name="category" id="category">
          <option value="" hidden>Seleccione una categoría</option>
          <% categories.forEach(({id,name})=> { %>
            <option value=<%=id %> <%= locals.old && old.category && +old.category===id ? 'selected' : null%>>
              <%= name %>
            </option>
            <% }) %>
          </select>
          <small id="categoryError" class="text-danger ms-2"><%= locals.errors && errors.category ? errors.category.msg : null %></small>

          <label for="material">Material</label>
          <select name="material" id="material" value="">
          <option value="" hidden>Seleccione un material</option>
          <% materials.forEach(({id,name})=> { %>
            <option value=<%=id %> <%= locals.old && old.material && +old.material===id ? 'selected' : null%>>
              <%= name %>
            </option>
            <% }) %>
          </select>
          <small id="materialError" class="text-danger ms-2"><%= locals.errors && errors.material ? errors.material.msg : null %></small>

          <label for="image" id="mainImage">Imágen principal del producto (Se recomienda una medida de 150px a 160px)</label>
          <input type="file" name="image" id="image">
          <small id="imageError" class="text-danger ms-2" id="imageError">
            <%= locals.errors && errors.image ? errors.image.msg : null %>
          </small>

          <label for="images">Imágenes secundarias del producto (Se recomienda una medida de 150px a 160px)</label>
          <input type="file" name="images" id="images" multiple>
          <small id="imagesError" class="text-danger ms-2" id="imagesError">
            <%= locals.errors && errors.images ? errors.images.msg : null %>
          </small>

          <small class="text-danger" id="formError"></small>

          <button type="submit">Agregar</button>
          <button type="reset">Cancelar</button>
      </form>

      <form id="formDashboardUser" class="none" action="dashboard/user" method="POST" enctype="multipart/form-data">
          <h2>Usuario</h2>

          <label for="nameUser">Nombre</label>
          <input type="text" name="nameUser" id="nameUser" 
            value="<%= (locals.old && old.nameUser) && old.nameUser %>">
          <small class="text-danger ms-2" id="errorNameUser">
            <%= (locals.errors && errors.nameUser) && errors.nameUser.msg %>
          </small>

          <label for="surname">Apellido</label>
          <input type="text" name="surname" id="surname"
            value="<%= (locals.old && old.surname) && old.surname %>">
          <small class="text-danger ms-2" id="errorSurname">
            <%= (locals.errors && errors.surname) && errors.surname.msg %>
          </small>

          <label for="email">E-mail</label>
          <input type="email" name="email" id="email"
            value="<%= (locals.old && old.email) && old.email %>">
          <small class="text-danger ms-2" id="errorEmail">
            <%= (locals.errors && errors.email) && errors.email.msg %>
          </small>

          <label for="password">Contraseña</label>
          <input type="password" name="password" id="password">
          <small class="text-danger ms-2" id="errorPass">
            <%= (locals.errors && errors.password) && errors.password.msg %>
          </small>
          <ul id="msgPassword" class="small ms-2" hidden>
            <li id="mayu">Una mayúscula</li>
            <li id="minu">Una minúscula</li>
            <li id="num">Un número</li>
            <li id="esp">Un caracter especial ($@!%*?&_-)</li>
            <li id="min">Mínimo 8 caracteres</li>
            <li id="max">Máximo 12 caracteres</li>
          </ul>

          <label for="password2">Confirmar contraseña</label>
          <input type="password" name="password2" id="password2">
          <small class="text-danger ms-2" id="errorPass2">
            <%= (locals.errors && errors.password2) && errors.password2.msg %>
          </small>

            <label for="file">Foto de perfil</label>
            <input type="file" name="imageUser" id="imageUser">
            <small class="text-danger ms-2" id="errorImageUser"></small>
          
            <button type="submit" name="crear" id="crear">Crear Cuenta</button>

      </form>

      <form id="formDashboardBrand" class="none" action="dashboard/brand" method="POST">
        <h2>Marcas</h2>

        <label for="addBrandInput">Nombre</label>
        <input type="text" name="addBrandInput" id="addBrandInput" value="<%= locals.old && old.addBrandInput ? old.addBrandInput : null %>">
        <small id="addBrandError" class="text-danger ms-3"><%= locals.errors && errors.addBrandInput ? errors.addBrandInput.msg : null %></small>
        <small class="text-danger" id="formBrandError"></small>

        <button type="submit">Agregar</button>
        <button type="reset">Cancelar</button>


      </form>

      <form id="formDashboardMaterial" class="none" action="dashboard/material" method="POST">
        <h2>Materiales</h2>
        
        <label for="addMaterialInput">Nombre</label>
        <input type="text" name="addMaterialInput" id="addMaterialInput" value="<%= locals.old && old.addMaterialInput ? old.addMaterialInput : null %>">
        <small id="addMaterialError" class="text-danger ms-3"><%= locals.errors && errors.addMaterialInput ? errors.addMaterialInput.msg : null %></small>
        
        <small class="text-danger" id="formMaterialError"></small>
        
        <button type="submit">Agregar</button>
        <button type="reset">Cancelar</button>
      </form>

      <form id="formDashboardCategory" class="none" action="dashboard/category" method="POST">

        <h2>Categorías</h2>

        <label for="addCategoryInput">Nombre</label>
        <input type="text" name="addCategoryInput" id="addCategoryInput" value="<%= locals.old && old.addCategoryInput ? old.addCategoryInput : null %>">
        <small id="addCategoryError" class="text-danger ms-3"><%= locals.errors && errors.addCategoryInput ? errors.addCategoryInput.msg : null %></small>

        <small class="text-danger" id="formCategoryError"></small>

        <button type="submit">Agregar</button>
        <button type="reset">Cancelar</button>
      </form>
    </div>

  
  
</div>

  <script src="/javascripts/dashboard.js"></script>
  <script src="/javascripts/menuHamDashboard.js"></script>

</body>
</html>
