<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="home">

    <%- include('./partials/header') %>

    <%- include('./partials/menuHam') %>


    <main class="product-detail__main">
        <section class="product-detail__main__section--product">
            <article class="product-detail__main__section__article--product">
                <div id="carouselExampleIndicators" class="carousel slide carouseldetail" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <% images.forEach((image,index) => { %>
                            <div class="carousel-item <%= index === 0 ? "active" : null %>">
                                <img class="image-product" src="/images/products/<%= image.name %>"
                                    class="d-block w-100" alt="...">
                            </div>
                        <% }) %>
                
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="product-detail-description">
                    <h2><%= name %></h2>
                    <% if (discount) { %>
                        <h6>$<del><%= price %></del> %<%= discount %> OFF</h6>
                    <% } %>
                    <h4 class="product-price"><b>$<%= toThousand((price * (1 - (discount/100))).toFixed(0)) %></b></h4>
                    <hr>
                    <div class="description-box">
                    <p class="product-description"><%= description %></p>
                    </div>
                    <hr>
                    <p><b>Categoria : </b> <%= category.name %></p>
                    <p><b>Marca : </b> <%= brand.name %></p>
                    <p><b>Material : </b> <%= material.name %></p>
                </div>


            </article>
            <div class="product-detail__main__section__article--shopping-cart-button">
                <button data-id="<%= id %>" class="btn-addCart default-button">Agregar al carrito</button>
                <form action="medios-de-pago" method="post"></form> 
                <div class="payment-method">
                    <label for="medios-de-pago"></label>
                    <i class="fa-regular fa-credit-card"></i>
                    <select name="direccion" id="address">
                        <option value="medios-de-pago" hidden>Medios de pago</option>
                        <option value="6-cuotas">6 cuotas sin interés de $<%= toThousand((price/6) + (price * (3/100))) %></option>
                        <option value="12-cuotas">12 cuotas fijas de $<%= toThousand((price/12) + (price * (5/100))) %></option></option>
                        <option value="efectivo">1 pago en efectivo de $<%= toThousand(price) %></option>
                        </option>
                    </select>
                    <% if (locals.userLogin && locals.userLogin.rol == "1") { %>
                        </div>
                        <button class="default-button" type="submit" class="btn btn-outline-info"><a href="/products/edit/<%= id %>">Editar producto</a></button>
                        </div>
                       <% } %>
        </section> 
        
        <%- include('./partials/relatedProduct') %>
        <div class="ver-mas-productos">
            <button><a href="/">Ver más productos</a></button>
          </div>
    </main> 
 
    <%- include('./partials/footer') %>
 
    <%- include('./partials/scripts') %>
    <script src="/javascripts/productCart.js"></script>
 
</body> 
 
</html> 