<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body class="form-editproduct">

  <%- include('./partials/header') %> 
  <%- include('./partials/menuHam') %> 

    <main class="form__main">
        <form  id="form-edit-product" class="main__form--editproduct" action="/products/update/<%= id %>?_method=PUT" method="post" enctype="multipart/form-data">
            
            <h3 class="title-add-product"><%= title %></h3>

            <div class="main__form__div">
                <label for="name">Nombre</label>
                <input class="main__form__div__input" type="text" name="name" id="name" 
                value="<%= (locals.old && old.name) ? old.name : name %>">
            </div>
            <small class="text-danger ms-2" id="nameError">
                <%= (locals.errors && errors.name) ? errors.name.msg : null %>
            </small>
            <div class="main__form__div">
                <label for="price">Precio</label>
                <input class="main__form__div__input" type="number" name="price" id="price" 
                id="price" value="<%= (locals.old && old.price) ? +old.price : price %>">
            </div>
            <small class="text-danger ms-2" id="priceError">
                <%= (locals.errors && errors.price) ? errors.price.msg : null %>
            </small>
            <div class="main__form__div">
                <label for="discount">Descuento</label>
                <input class="main__form__div__input" type="number" name="discount" id="discount" 
                value="<%= (locals.old && old.discount) ? +old.discount : discount %>">
            </div>
            <small class="text-danger ms-2" id="discountError"></small>
            <div class="main__form__div">
                <label for="stock">Stock</label>
                <input class="main__form__div__input" type="number" id="stock" name="stock" 
                value="<%= (locals.old && old.stock) ? +old.stock : stock %>">
            </div>
            <small class="text-danger ms-2" id="stockError">
                <%= (locals.errors && errors.stock) ? errors.stock.msg : null %>
            </small>

            <div class="main__form__div">
                <label for="description">Descripcion</label><small id="descrptionInfo"
                hidden> (<span id="numberCharacters"></span> / 1000)</small>
                <textarea name="description" class="main__form__div__textarea" id="description"><%= (locals.old && old.description) ? old.description : description %></textarea>
            </div>
            <small class="text-danger ms-2" id="descriptionError">
                <%= (locals.errors && errors.description) ? errors.description.msg : null %>
            </small>
            <div class="main__form__div">
                <label for="brand">Marca</label>
                <select class="main__form__div__selected" name="brand" id="brand">
                <% brands.forEach(({id,name})=> { %>
                    <option value=<%=id %> <%= brandId === id && 'selected' %>><%= name %></option>
                    <% }) %>
            </select>
        </div>
        <small class="text-danger ms-2" id="brandError">
            <%= (locals.errors && errors.brand) ? errors.brand.msg : null %>
        </small>
        <div class="main__form__div">
            <label for="category">Categoria</label>
            <select class="main__form__div__selected" name="category" id="category">
                <% categories.forEach(({id,name}) => { %>
                    <option value=<%= id %>   <%= (locals.old && old.category) && +old.category===id ? 'selected' : null %>><%= name %></option>
                <% }) %>
            </select>
        </div>
        <small class="text-danger ms-2" id="categoryError">
            <%= (locals.errors && errors.category) ? errors.category.msg : null %>
        </small>
        <div class="main__form__div">
            <label for="material">Material</label>
            <select class="main__form__div__selected" name="material" id="material">
                <% materials.forEach(({id,name})=> { %>
                    <option value=<%=id %>
                        <%= locals.old && old.material && +old.material===id ? 'selected' : null
                            %>><%= name %>
                    </option>
                    <% }) %>
            </select>
        </div>
        <small class="text-danger ms-2" id="materialError">
            <%= (locals.errors && errors.material) ? errors.material.msg : null %>
        </small>
        <div class="main__form__div div_image">
                <label for="image">Imágen principal del producto</label>
                <input class="main__form__div__textarea" type="file" name="image" id="image">
        </div>
        <small class="text-danger ms-2" id="imageError"><%= (locals.errors && errors.image) ? errors.image.msg : null %></small>
        <div class="main__form__div div_image">
                <label for="images">Imágenes secundarias del producto</label>
                <input class="main__form__div__textarea" type="file" name="images" id="images" multiple>
        </div>
        <small class="text-danger ms-2" id="imageError">
            <%= (locals.errors && errors.images) ? errors.images.msg : null %>
        </small>
        <small class="text-danger" id="formError"></small>
        <button class="button--form-product" type="submit">Actualizar Producto</button>
        
        <button class="button--form-product" type="reset">Volver</button>
            
        </form>
        
        <form class="main__form--deleteproduct" id="form-delete" action="/products/delete/<%= id %>?_method=DELETE" method="POST">
            <button class="button--form-product" type="submit">Eliminar Producto</button>
        </form>

    </main>
<%- include('./partials/footer') %>
<%- include('./partials/scripts') %>
<script src="/javascripts/editProduct.js"></script>
</body>
</html>