<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body class="home">

    <%- include('./partials/header') %>

        <main class="home__main">

          <%- include('./partials/mainBanner') %>

          <div class="home__main__div--wsp">
            <button class="home__main__div__button--wpp"><i class="fa-brands fa-whatsapp"></i></button>
          </div>

          <p class="home__main__p--cuotas">Hasta 6 cuotas sin interés en toda la tienda | 10% de descuento en efectivo
            en
            productos seleccionados</p>

            <nav class="home__header__nav-brand">
              <ul class="home__header__nav-ul-brand">
          
                <% brands.forEach(({id,image,name})=> { %>
                  <li><div class="home__header__nav-ul-brand-box">
                    <a href="/products/brand/<%= id %>">
                        <img src="/images/logos/<%= image %>" alt="">
                    </a>
                  </div>
                  <div class="home__header__nav-ul-brand-name">
                  <%= name %>
                  </div>
                </li>
                  <% }) %>
          
              </ul>
            </nav>

          <div class="search-box">
          <%- include('./partials/search') %>
          </div>
            <section class="home__main__section--body">

              <div class="imagenes-extra-home">
                <img src="/images/banners/banio.jpg" alt="">
                <img src="/images/banners/mirror.jpg" alt="">
                <img src="/images/banners/mimbre.jpg" alt="">
              </div>

              

              <!-- <figure class="home__main__botones-fijos">
                <a href="/products/shopping-cart"><button class="boton-shopping"><i
                      class="fa-solid fa-cart-shopping"></i></button></a>
                <a href="#footer"><button class="boton-down"><i class="fa-solid fa-chevron-down"></i></button></a>
                <a href="#"><button class="boton-wpp"><i class="fa-brands fa-whatsapp"></i></button></a>
              </figure> -->

              <div class="home__main__productos">
                <h3 class="home__main__section__h3">PRODUCTOS</h3>

                <% productsHome.forEach(({name,id,image,price,category, discount})=> { %>
                  <%- include('./partials/productHome',{ name, id, image, price, category, discount }) %>
                    <% }) %>

              </div>

              <div class="imagenes-extra-home">
                <img src="/images/banners/ollasysartenes.jpg" alt="">
                <img src="/images/banners/TERMOS.jpg" alt="">
                <img src="/images/banners/pasteleria.jpg" alt="">
              </div>

              <div class="imagenes-extra-home-tablet">
                <img src="/images/banners/vajillaok.jpg" alt="">
                <img src="/images/banners/banio.jpg" alt="">
                <img src="/images/banners/ollasysartenes.jpg" alt="">
                <img src="/images/banners/pasteleria.jpg" alt="">
                <img src="/images/banners/decohogar.jpg" alt="">
              </div>
              
                <div class="home__main__productos">
                  <h3 class="home__main__section__h3">DESTACADOS</h3>


                  <% productsdistinguished.forEach(({name,id,image,price,category, discount})=> { %>
                    <%- include('./partials/productdistinguished',{ name, id, image, price, category, discount}) %>
                      <% }) %>
                </div>


              <div class="ver-todos-los-productos">
                <a href="/products"><button class="default-button">ver todos los productos</button></a>
              </div>

              </div>

            </section>

        </main>

        <footer id="footer" class="home__footer">

          <%- include('./partials/aboveFooter') %>

            <%- include('./partials/footer') %>

        </footer>

        <%- include('./partials/scripts') %>
        <script src="/javascripts/productCart.js"></script>
  </body>

</html>