<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body class="home">

    <%- include('./partials/header') %>

        <main class="home__main">

          <%- include('./partials/mainBanner') %>

          <div class="home__main__div--wsp">
            <button class="home__main__div__button--wpp"><i class="fa-brands fa-whatsapp"></i></button>
          </div>

          <p class="home__main__p--cuotas">Hasta 6 cuotas sin interés en toda la tienda | 10% de descuento en efectivo
            en
            productos seleccionados</p>

            <nav class="home__header__nav-brand">
              <ul class="home__header__nav-ul-brand">
          
                <% brands.forEach(({id,image,name})=> { %>
                  <li><div class="home__header__nav-ul-brand-box">
                    <a href="/products/brand/<%= id %>">
                        <img src="/images/logos/<%= image %>" alt="">
                    </a>
                  </div>
                  <div class="home__header__nav-ul-brand-name">
                  <%= name %>
                  </div>
                </li>
                  <% }) %>
          
              </ul>
            </nav>

          <div class="search-box">
          <%- include('./partials/search') %>
          </div>
            <section class="home__main__section--body">
              <div class="container-banner">
                <h2>Encontrá eso que buscás</h2>
                <div class="banners-categories">
                  <a href="/products/category/3">
                    <img src="/images/banners/vajillaok.jpg" alt="">
                    <span>UTENSILIOS</span>
                  </a>
                  <a href="/products/category/1">
                    <img src="/images/banners/decohogar.jpg" alt="">
                    <span>DECO</span>
                  </a>
                  <a href="/products/category/8">
                    <img src="/images/banners/canastos.jpg" alt="">
                    <span>CANASTOS</span>
                  </a>
                </div>
              </div>

              <div class="home__main__productos">
                <h3 class="home__main__section__h3">NOVEDADES!</h3>

                <% productsHome.forEach(({name,id,image,price,category, discount})=> { %>
                  <%- include('./partials/productHome',{ name, id, image, price, category, discount }) %>
                    <% }) %>

              </div>
              
                <div class="home__main__productos">
                  <h3 class="home__main__section__h3">DESTACADOS</h3>


                  <% productsdistinguished.forEach(({name,id,image,price,category, discount})=> { %>
                    <%- include('./partials/productdistinguished',{ name, id, image, price, category, discount}) %>
                      <% }) %>
                </div>


              <div class="ver-todos-los-productos">
                <a href="/products"><button class="default-button">ver todos los productos</button></a>
              </div>

              </div>

            </section>

        </main>

        <footer id="footer" class="home__footer">

          <%- include('./partials/aboveFooter') %>

            <%- include('./partials/footer') %>

        </footer>

        <%- include('./partials/scripts') %>
        <script src="/javascripts/productCart.js"></script>
  </body>

</html>