<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: "Listado"}) %>
<body class="home">
    <%- include('./partials/header') %>
    <%- include('./partials/menuHam') %> 
    
    <main class="home__main">
        <section class="home__main__section--body">
            <div class="home__main__productos">
                <h3 >Todos los productos</h3>
                <% products.forEach(({name,id,image,price,discount,category}) => { %>
                <%- include('./partials/product',{
                name,
                id,
                image,
                price,
                discount,
                category
                }) %> 
                <% }) %>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>