<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: "Listado" }) %>

    <body class="home">
        <%- include('./partials/header') %>


        <nav class="home__header__nav-brand">
            <ul class="home__header__nav-ul-brand">
        
              <% brands.forEach(({id,image,name})=> { %>
                <li><div class="home__header__nav-ul-brand-box">
                  <a href="/products/brand/<%= id %>">
                      <img src="/images/logos/<%= image %>" alt="">
                  </a>
                </div>
                <div class="home__header__nav-ul-brand-name">
                <%= name %>
                </div>
              </li>
                <% }) %>
        
            </ul>
          </nav>

                    <main class="home__main">
                        <section class="home__main__section--body">
                            <div class="home__main__productos">
                                <h3>
                                    <%= title %>
                                </h3>
                                <% if (products[0]) { %>
                                    <% products.forEach(({name,id,image,price,discount})=> { %>
                                        <%- include('./partials/product',{ name, id, image, price, discount }) %>
                                    <% }) %>
                                <% } else { %>
                                    <p class="no-products">No hay productos para esta categoria</p>
                                <% } %>
                            </div>
                        </section>
                    </main>

                    <%- include('./partials/scripts') %>
                    <script src="/javascripts/productCart.js"></script>

                    <%- include('./partials/footer') %>
    </body>

</html>