<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head') %>

<body>
  
  <%- include('./partials/header') %>
  <%- include('./partials/menuHam') %> 

  <main>

    <div class="register__form-box">

      <h1> <%= title %></h1>
      <hr>
      
        <form action="" class="register__form" method="POST">


        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="Nombre" value="<%= (locals.old && old.name) && old.name %>">
        <small class="text-danger ms-2"><%= locals.errors && errors.name ? errors.name.msg : null %></small>

        <label for="surname"></label>
        <input type="text" name="surname" id="surname" placeholder="Apellido" value="<%= (locals.old && old.surname) && old.surname %>">
        <small class="text-danger ms-2"><%= locals.errors && errors.surname ? errors.surname.msg : null %></small>

        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email" value="<%= (locals.old && old.email) && old.email %>">
        <small class="text-danger ms-2"><%= locals.errors && errors.email ? errors.email.msg : null %></small>

        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <small class="text-danger ms-2"><%= locals.errors && errors.password ? errors.password.msg : null %></small>

        <label for="password2"></label>
        <input type="password" name="password2" id="password2" placeholder="Confirma tu contraseña">
        <small class="text-danger ms-2"><%= locals.errors && errors.password2 ? errors.password2.msg : null %></small>


        <div class="termcond">

          <input type="checkbox" name="terminos" id="terminos-condiciones">
          <label for="terminos-condiciones">Acepta los términos y condiciones de uso del sitio</label>
          <div>
            <small class="text-danger ms-2"><%= locals.errors && errors.terminos ? errors.terminos.msg : null %></small>
          </div>
        </div>


        <div class="submit">
          <button type="submit">Crear Cuenta</button>
          
        </div>
        <p>¿Ya estás registrado? <a class="ingresa" href="/login">Ingresa</a></p>
    </div>

    </form>

  </main>

  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

</body>

</html>