<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body class="home">

  <%- include('./partials/header') %>
  <%- include('./partials/menuHam') %>

  <main class="reset-password__main">
    <section class="reset-password__main__section">
    <h2>多Olvidaste tu contrase単a?</h2>
    <p>Por favor, introduzca su e-mail para recibir un enlace de restablecimiento de contrase単a.</p>
    <span><b>E-mail </span><span class="input-required">*</b></span>
    <form class="form--reset-password" action="" method="">
        <input type="email" class="form--reset-password" email required>
        <button class="form--reset-button" type="submit"><a href="/">Restablecer mi contrase単a</a></button>
        <p class="input-required"><b>*</b> Campos requeridos</p>
    </section>
  </main>

  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>

</body>
</html>