<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body class="home--cart">

    <%- include('./partials/header') %>
      <%- include('./partials/menuHam') %>

        <main class="main--cart">

          <section class="main__section-cart">
            <div class="main__section-cart-each-product" id="cards-container">
              
            </div>

            <article class="main__section-cart-total">
              <span >
                Total:
              </span>
              <output id="output-total">
                0
              </output>
              <button class="default-button" id="btn-buy">Realizar compra</button>
              <button class="clear-cart-k" id="clear-cart">Vaciar Carrito</button>
            </article>

            <article class="main__section__article-cart-add">
              <%- include('./partials/relatedProduct') %>
            </article>


          </section>



        </main>
        <%- include('./partials/scripts') %>
        <script src="/javascripts/cart.js"></script>

  </body>

</html>