<!doctype html>

<html lang="es">
    
  <%- include('../partials/head') %>

    <body>
      
      <%- include('../partials/header') %>
      <%- include('../partials/menuHam') %> 

        <div id="contenedor">
            <div id="central">
                <div class="titulo">
                   BIENVENIDO A MALVA
                  </div>
                  <hr id="linea">
                <div id="login">
                   
                    <form id="loginform" action="" method="POST">

                        <div>
                            <small class="text-danger ms-2 d-inline-block"><%= (locals.errors && errors.email) && errors.email.msg %></small>
                        </div>
                        <input type="email" name="email" placeholder="Email">
                        
                        <small class="text-danger ms-2 d-inline-block"><%= (locals.errors && errors.password) && errors.password.msg %></small>
                        <input type="password" placeholder="Contraseña" name="password">

                        <div class="termcond">
                            <input type="checkbox" name="remember" id="terminos-condiciones">
                            <label for="terminos-condiciones">Recordarme</label>
                          </div>
                        
                        <button type="submit" title="Log in" name="Log in">Ingresar</button>
                    </form>
                    <div class="pie-form">
                        <a href="/users/reset-password">¿Olvidaste tu contraseña?</a>
                        <a href="/users/register">¿No tenés cuenta todavia? Registrate</a>
                        
                    </div>
                </div>
                <div class="inferior">
                    <hr id="linea">
                        <button type="submit" title="Log in" name="Log in">Ingresá con Google</button>
                    <a href="/">Volver al inicio</a>
                </div>
            </div>
        </div>
        
    </body>
    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %> 

</html>