<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body class="register__body">

    <%- include('../partials/header') %>
      <%- include('../partials/menuHam') %>

        <main>

          <div class="register__form-box">

            <h1>
              <%= title %>
            </h1>
            <hr>

            <form action="" class="register__form" id="registerForm" method="POST" enctype="multipart/form-data">

              <label for="name">Nombre</label>
              <input type="text" name="name" id="name" placeholder="Ingresa tu nombre"
                value="<%= (locals.old && old.name) && old.name %>">
              <small class="text-danger ms-2" id="errorName">
                <%= (locals.errors && errors.name) && errors.name.msg %>
              </small>

              <label for="surname">Apellido</label>
              <input type="text" name="surname" id="surname" placeholder="Ingresa tu apellido"
                value="<%= (locals.old && old.surname) && old.surname %>">
              <small class="text-danger ms-2" id="errorSurname">
                <%= (locals.errors && errors.surname) && errors.surname.msg %>
              </small>

              <label for="email">E-mail</label>
              <input type="email" name="email" id="email" placeholder="Ingresa tu e-mail"
                value="<%= (locals.old && old.email) && old.email %>">
              <small class="text-danger ms-2" id="errorEmail">
                <%= (locals.errors && errors.email) && errors.email.msg %>
              </small>

              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
              <small class="text-danger ms-2" id="errorPass">
                <%= (locals.errors && errors.password) && errors.password.msg %>
              </small>
              <ul id="msgPassword" class="small ms-2" hidden>
                <li id="mayu">Una mayúscula</li>
                <li id="minu">Una minúscula</li>
                <li id="num">Un número</li>
                <li id="esp">Un caracter especial ($@!%*?&_-)</li>
                <li id="min">Mínimo 8 caracteres</li>
                <li id="max">Máximo 12 caracteres</li>
              </ul>

              <label for="password2">Confirmar contraseña</label>
              <input type="password" name="password2" id="password2" placeholder="Confirma tu contraseña">
              <small class="text-danger ms-2" id="errorPass2">
                <%= (locals.errors && errors.password2) && errors.password2.msg %>
              </small>

                <label for="file">Foto de perfil</label>
                <input type="file" name="image" id="image">
                <small class="text-danger ms-2" id="errorImage"></small>
              
              <div class="termcond">
                <input type="checkbox" name="terminos" id="terminos-condiciones">
                <label for="terminos-condiciones">Acepto los términos y condiciones de uso del sitio</label>
                <div>
                  <small class="text-danger ms-2" id="errorTermCond">
                    <%= (locals.errors && errors.terminos) && errors.terminos.msg %>
                  </small>
                </div>
                <div class="d-flex justify-content-around">
                  <small class="text-danger small" id="errorCreate">
                    <%= (locals.errors && errors.crear) && errors.crear.msg %>
                  </small>
                </div>
              </div>
              <div class="login__buttons">
                                <button type="submit">Crear cuenta</button>
                                <button type="submit"><a href="/auth/login/google"><i class="fa-brands fa-google"></i> Registrarse con Google</a></button>
                            </div>

              <p>¿Ya estás registrado? <a class="ingresa" href="/users/login">Ingresá</a></p>
            </form>
          </div>


        </main>
  </body>
  <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
      <script src="/javascripts/register.js"></script>

</html>