<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head') %>

<body class="home">

  <%- include('../partials/header') %>
  <%- include('../partials/menuHam') %>

  <main class="reset-password__main">
    <section class="reset-password__main__section">
    <h2>多Olvidaste tu contrase単a?</h2>
    <hr id="linea">
    <p>Por favor, introduzca su e-mail para recibir un enlace de restablecimiento de contrase単a.</p>
    <form class="form--reset-password" action="" method="POST">
        <label for="email">E-mail</label>
        <input type="email" name="email" class="form--reset-password">
        <button class="form--reset-button" type="submit">Restablecer mi contrase単a</button>
    </section>
  </main>

  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>

</body>
</html>